asgiref==3.9.0
Django==5.2.4
sqlparse==0.5.3
tzdata==2025.2
Pillow==11.3.0
opencv-python==4.8.1.78
numpy==1.26.4
tensorflow==2.18.0
mtcnn==1.0.0
keras==3.8.0
scikit-learn==1.5.2
matplotlib==3.9.3
seaborn==0.13.2
