asgiref==3.9.0
Django==5.2.4
sqlparse==0.5.3

opencv-python==4.9.0.80
tensorflow==2.18.0
numpy==1.26.4
Pillow==10.3.0
mtcnn==0.1.1
facenet-pytorch==2.5.3
torch==2.3.0
torchvision==0.18.0
scikit-learn==1.4.2
matplotlib==3.8.4
seaborn==0.13.2
tqdm